:root {
  --background: orange;
  --offwhite: #ffe6b3;
}

body {
    background-color: var(--background);
    font-family: Helvetica;
    text-align: center;
  }
  
  textarea {
    resize: none;
    width: 20%;
    height: 204px;
    font-size: 20px;
    font-family: Helvetica;
    border: none;
    background-color: var(--offwhite);
  }
  
  textarea:hover {
    background-color: white;
  }
  
  .button {
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 10px;
    background-color: var(--offwhite);
    font-family: Helvetica;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: white;
  }
  
  .result {
    font-size: 70px;
  }