body {
    color: grey;
    background-color: #B9FFC7;
}

.all {
    width: 100%;
    float: left;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}

div.top {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    width: 90%;
}

div.head {
    font-size: 100px;
    font-weight: 900;
    padding-bottom: 10px;
}

div.body {
    font-size: 50px;
    font-weight: 500;
}