body {
  color: black;
  text-align: center;
  vertical-align: middle;
}

span {
  vertical-align: middle;
  text-align: center;
  font-size: 400px;
}
#hour {
  font-family: Helvetica;
  font-weight: 950;
  text-transform: uppercase;
  display: block;
  /* vertical-align: middle; */
  line-height: 75%;
  margin-top: 400px;
}

#min {
  font-family: Helvetica;
  font-weight: 950;
  text-transform: uppercase;
  display: block;
  /* vertical-align: center; */
  line-height: 75%;
}

#sec {
  font-family: Helvetica;
  font-weight: 950;
  text-transform: uppercase;
  display: block;
  /* vertical-align: center; */
  line-height: 75%;
}
