body {
    color: grey;
    background-color: #B9FFC7;
    display: flex;
    justify-content: center;
}

.all {
    width: 75vw;
    max-width: 869px;
    float: left;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}

div.top {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    width: 90%;
}

div.head {
    font-size: 100px;
    font-weight: 900;
    padding-bottom: 10px;
}

div.body {
    font-size: 30px;
    font-weight: 200;
    /* padding-left: 20px;    Optional Padding*/
}

div.showcase {
    display: flex;
    justify-content: center;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
}

div.this {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
}

div.this-right {
    display: flex;
}

div.this-mid {
    margin-left: 10px;
    margin-right: 10px;
}

img {
    max-width: 255px;
    max-height: 255px;
    width: 100%;
    height: 100%;
    display: block;
}

div.img-text {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: 900;
}
 
.bottom {
    margin-top: 1%;
    margin-left: 5%;
    /* font-size: 50px; */
    /* font-weight: 500; */
}

a {
    text-decoration: none;
}

a:link, a:visited, a:focus, a{
    color: black;
    text-decoration: none;
  }

.bottom a:hover {
    color: white;
}

.opaque {
    opacity: .3;
    margin-right: 10px;
}

.fa-instagram {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

th, td {
    border:1px solid black;
}


/*  
@media (max-width:781px){
    .all {
        width: 90vw;
    }

    .top {
        width: 90%;
    }
}

@media (max-width:458px){
    .all {
        width: 100vw;
    }

    .top {
        width: 100%;
    }
    
    div.head {
        font-size: 50px;
        font-weight: 900;
    }
}
*/
        